@import "~ed-grid";
@import "~edteam-style-guides/edteam-style-guides";
body{
  background: gray;
}
.espacio{
  margin: 10px;
}
.df-left{
  padding-left: 0px !important;
}
.df-card-bg{
  background: #ffffff;
}
.df-text-bg{
  color: #000;
}
.df-espacio-abajo{
  margin-bottom: 10px;
}
.df-box{
  width: 215px;
  height: 134px;
}
.df-sin-espacio{
  margin: 0px !important;
padding: 0px;
}
